<script language="JavaScript">
	var database = "MySQL"
	var ide = "Android Studio, IntelliJ, Visual Studio"
	var language = "Kotlin, Java"
	var etc = "RxAndroid 및 RxKotlin | Coroutine | Koin | Retrofit | OkHttp | Gson | Glide | TedPermission | Firebase | Jetpack [Databinding, LiveData, Navigation, Room, Notifications, Permissions] 등"
	var certificate = "2종보통운전면허 [경찰정 (운전면허시험관리단) ] | 정보처리기사 [한국산업인력공단]"
	var outdoor_activities = "KISTI(한국과학기술정보연구원) [인턴]"
	var contact_channel = "Email | sanggoni009@gmail.com <br> Phone | 010 3191 4209"
</script>
<footer class="texture-black">
	<div class="container">
	
		<h2>Skill</h2>
		<hr>

		<script language="JavaScript">
			document.write('<p>IDE : ' + ide + '</p>')
			document.write('<p>Language : ' + language + '</p>')
			document.write('<p>Etc : ' + etc + '</p>')
			document.write('<p>Database : ' + database + '</p>')
			document.write('<p>Certificate : ' + certificate + '</p>')
			document.write('<p>Outdoor Activities : ' + outdoor_activities + '</p>')
		</script>

	</div>
</footer>


<!--

{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>	
		<div id="red"></div>	
		<div id="purple"></div>		
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}

{%- if site.texture.useMathJax -%}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{%- endif -%}



-->