<script language="JavaScript">
	var philosophy = 
	"훌륭한 개발자란, 비즈니스 코드의 가치를 알고, 개발자로서 Vision을 가진 개발자라고 생각합니다. <br><br>" +
	"비즈니스 코드의 가치를 모르는 개발자는, 중점을 로직이 아닌 업무에 두고 자신 또는 다른 사람의 코드에 왜? 라는 질문 없이 " + 
	" 일단 동작하니깐!! 끝이라고 생각합니다. <br><br>" +
	" 비즈니스 코드의 가치를 아는 개발자는 로직을 왜 이렇게 작성했는지, 장/단점은 무엇인지에 대해 고민하고 해결책을 찾으며" +
	" Vision을 향해 나아갑니다. <br><br>" + 
	"휼륭한 개발자란, 질문의 답을 찾기위해 위기와 변화에 포기하지않는 근성을 가진 개발자가 되겠습니다."
</script>
<div class="container">

	<div class="box" style="background: #BDBDBD;">
		<img class="img-responsive" src="img/profile.png" alt="profile-pic" />
	</div>

	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>

	<div class="about">
		<h2>About Me & Cantact</h2>
		<hr>

		<script language="JavaScript">
			document.write('<p>' + philosophy + '</p>')
			document.write('<p>' + contact_channel + '</p>')
		</script>
	</div>
	<nav>
		<ul class="social">
			{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
			{%- endif -%}
			{%- if site.texture.social_links.linkedIn -%}
			<a href="https://{{ site.texture.social_links.linkedIn }}.tistory.com/"><li><i class="icon-linkedin-squared"></i></li></a>
			{%- endif -%}
		</ul>
	</nav>
</div>

<!--
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			{%- endif -%}
-->
